html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body{
  background: linear-gradient(0deg, #222, #333);
  color: #fff;
  text-align: center;
  overflow: auto;
  perspective: 3000px;
  font-family: 'Raleway';
}

.topstuff {
    /*position: fixed;*/
    color: #bbb;
    /*background: #333;*/

    font-size: 6em;
    letter-spacing: 7px;
    text-align: center;
    line-height: 1.8em;

    /*box-shadow: 0px 50px 80px #333;*/

    top: 0px;
    margin: auto;
    width: 100%;

    overflow: visible;
    white-space: nowrap;

    -webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

    z-index: 10;
}
.topstuff.a {
	text-decoration: none;
}

.topstuff2{
    text-align: center;
    color: #aaa;
    letter-spacing: 5px;

    margin: auto;
    margin-top: -2em;

    z-index: 11;
  	overflow: visible;
    white-space: nowrap;
}
.topstuff2.a{
	text-decoration: none;
}


#structure{
  width: 100%;
  transform-style:preserve-3d;
  position: relative;
  margin-top: 6em;
  margin-bottom: 50vh;
}
.rotPersonal{
  transform: rotateZ( 45deg );
}
h1{
  font-size: 3em;
  font-weight: 300;
  margin: 0;
}

.side{
  outline: 1px solid #444;
  position: absolute;
  display:block;
  transform-style:preserve-3d;
}
.side-title, .side-footer{
  background: #333;
  padding: 0.5em;
}
.project-grid{
  display: flex;
}

#top{
  background: rgba(255,255,255,0.1);
  opacity: 0;
  width: 50vw;
  height: 50vw;
  transform-origin: 0% 00%;
  transform: rotateY(45deg) rotateX(90deg) translateZ(00px);
}
#personal{
  width: 70%;
  left: -20%;
  transform-origin: 100% 50%;
  transform: rotateY(-45deg);
}
#work{
  width: 70%;
  left: 50%;
  transform-origin: 0% 50%;
  transform: rotateY(45deg);
}
.project{
  height: 300px;
  width: 900px;
  transition: all 0.2s cubic-bezier(0.25, 1.700, 0.500, 1.000);
  z-index: 10;
}
#personal .project{ transform-origin: 100% 0%; }
#personal .project:hover{ transform:rotateY(5deg); }

#work .project{ transform-origin: 0% 0%; }
#work .project:hover{ transform:rotateY(-5deg); }
.project-name{
  font-size: 2em;
  padding-top: 100px;
}
.project-tags{
  margin: auto;
}
