/*******/
/***  META  ***/
/*******/

html{
}
html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  text-align: center;
  font-feature-settings: "liga" 0;
  font-weight: 400;
}

body{
  background-color: #383838;
  color: #d0d0d0;
}

a{
  color: #0cf;
	text-decoration: none;
  transition: color 0.2s ease;
}
a:hover{
  color: #6ff;
  transition: color 0.2s ease;
}

h1, h2{
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  margin: 0;
  text-align: center;
  letter-spacing: 0.05em;
  color: #c0c0c0;
}

h1{
  font-size: 4vw;
}
@media (min-width: 1250px){
  h1{
    font-size: 3rem;
  }
}

h2{ font-size: 1rem; }
h3{ font-weight: 300; }

p{
  text-align: center;
}

hr{
  border-color: #606060;
  margin: 4rem 0;
}

input{
  display: none;
}

.rotate{ transform: rotate(45deg); }
.unrotate{ transform: rotate(-45deg); }



/*******/
/***  HEADER ***/
/*******/

#header{
  display: block;
  margin: 50px auto;
  position: relative;
  width: 400px;
}

@media (max-width: 1000px){
  #header{
    width: calc(100% - 150px);
  }
}



/*******/
/***  BIO  ***/
/*******/

#bio{
}

#bio .project-tile.about{
  font-size: 0.75rem;
  line-height: 1.375em;
  width: 200px;
  height: 200px;
  outline: none;
  overflow: hidden;
}
#bio .project-tile > div{
  width: 283px;
  height: 283px;
  position: relative;
  text-align: center;
}
#bio .tile-content{
  font-family: 'Source Sans Pro', sans-serif;
  top: -34px;
  left: -34px;
  color: #c0c0c0;
}
#kev{
  outline: 1px solid #000 !important;
}
#kev.project-tile.about{
  width: 176px;
  height: 176px;
  margin-left: 8px;
  margin-right: 112px;
  margin-bottom: -38px;
  margin-top: 12px;
  outline: 12px solid #202020 !important;
}
#kev .tile-content{
  top: -30px;
  left: -30px;
  background-size: cover;
  background-position: 0;
}

#bio .project-tile .plate{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #202020;
  transform: rotate(0deg);
}
#bio svg{
  display: block;
  fill: #606060;
}

#email svg{
  position: absolute;
  left: 40%;
  top: 50px;
  transition: fill 0.3s ease;
}
#email a{
  position: absolute;
  display: block;
  width: 100%;
  font-size: 28px;
  font-weight: 200;
  top: 120px;
}
#email span{
  position: absolute;
  display: block;
  color: #808080;
  width: 100%;
  top: 160px;
}
#email a:hover ~ svg{
  fill: #fff;
  transition: fill 0.15s ease;
}

#social-array{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 34px;
  left: 34px;
}
#social-array a{
  position: absolute;
  text-align: center;
  display: block;
  width: 98px;
  height: 98px;
  outline: 1px dashed #202020;
  border: none;
  outline-offset: -1px;
  background: #202020;
  transition: all 0.3s ease;
}
#social-array a:nth-child(2){
  right: 0;
}
#social-array a:nth-child(3){
  bottom: 0;
}
#social-array a:nth-child(4){
  right: 0;
  bottom: 0;
}

#social-array a:hover{
  outline: 1px solid #0cf;
  transition: all 0.2s ease;
  overflow: hidden;
}
#social-array svg{
  display: block;
  position: absolute;
  margin: auto;
  left: 8%;
  top: 8%;
  fill: #808080;
  width: 60%;
  transition: all 0.3s ease;
}
#social-array a:hover svg{
  fill: #fff;
  transition: all 0.2s ease;
}
#social-array a span{
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 15%;
  top: 58%;
  margin: auto;
  font-size: 1em;
  color: #808080;
  transition: all 0.5s ease;
}
#social-array a:hover span{
  color: #fff;
  transition: all 0.15s ease;
}



/*******/
/***  REEL  ***/
/*******/

#reel{
  border: 1px solid #383838;
  transition: all 0.25s ease;
}
#reel:hover{
  border-color: #0cf;
  transition: all 0.15s ease;
}
#reel .tile-content{
  top: -42px;
  left: -42px;
  background-size: 283px 283px;
  filter: grayscale(100%) contrast(25%) brightness(45%);
  transition: all 0.25s ease;
}

#reel:hover .tile-content{
  color: #0cf;
  filter: grayscale(0%) contrast(100%) brightness(100%);
  transition: all 0.15s ease;
}
#reel div.project-name{
  font-size: 1.3rem;
  line-height: 1.8rem;
  width: 141%;
  height: 1.5em;
  vertical-align: middle;
  position: absolute;
  top: 75px;
  left: -55px;
}
#reel:hover div.project-name{
  color: #0cf;
}

iframe{
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  width: 100%;
  height: 100%;
}
#reel-container{
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

#reel-breakdown {
  position: relative;
  height: 1300px;
}

#reel-breakdown > .entry{
  position: absolute;
  width: 50%;
}
#reel-breakdown > .entry:nth-of-type(odd){
  left: 50%;
}

#reel-breakdown > .line{
  position: absolute;
  border-right: 1px solid #606060;
  height: 100%;
  top: 0;
  left: 50%;
}

.entry .time{
  position: absolute;
  top: -0.333em;
  color: #808080;
  transition: all 0.3s ease;
}
.entry:hover .time{
  color: #0cf;
  transition: all 0.15s ease;
}
.entry:nth-of-type(even) .time{ right: 2.5em; }
.entry:nth-of-type(odd) .time{ left: 2.5em; }

.entry .info{
  color: #a0a0a0;
  background: #202020;
  border: 1px solid #282828;
  transform: translateY(-50%) translateZ(0);
  margin-top: 6px;
  transition: all 0.3s ease;
}
.entry:hover .info{
  color: #c0c0c0;
  background: #181818;
  border: 1px solid #0cf;
  transition: all 0.15s ease;
}
.entry:nth-of-type(even) .info{
  margin-right: 2em;
  padding: 6px 24px 6px 0;
}
.entry:nth-of-type(odd) .info{
  margin-left: 2em;
  padding: 6px 0em 6px 24px;
}

.entry .info .title{
  color: #fff;
  margin-top: -0.25em;
  font-size: 1em;
}
.entry .info .resp{
  font-size: 0.9em;
  line-height: 1em;
  padding: 0 2em;
}

.entry .point{
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid #606060;
  outline: 1px solid #606060;
  outline-offset: -4px;
  background: #181818;
  transform: rotate(45deg) translateZ(0);
  z-index: 5;
  transition: all 0.3s ease;
}
.entry:nth-of-type(even) .point{ right: -7px; }
.entry:nth-of-type(odd) .point{ left: -7px; }
.entry:hover .point{
  outline-offset: 3px;
  outline-color: #0cf;
  border-color: #0cf;
  z-index: 50;
  transition: all 0.15s ease;
}

.entry .point + .point{
  width: 6px;
  height: 6px;
  z-index: 5;
}
.entry:nth-of-type(even) .point + .point{ right: -4px; }
.entry:nth-of-type(odd) .point + .point{ left: -4px; }
.entry:hover .point + .point{
  outline-offset: 1px;
  outline-color: #0cf;
  border-color: #0cf;
  z-index: 5;
  transition: all 0.15s ease;
}

.entry .line{
  position: absolute;
  width: 1.5em;
  height: 1px;
  background: #606060;
  top: 6px;
  transition: all 0.3s ease;
}
.entry:hover .line{
  background: #0cf;
}
.entry:nth-of-type(even) .line{ right: 0.5em; }
.entry:nth-of-type(odd) .line{ left: 0.5em; }

.entry .length{
  position: absolute;
  width: 1px;
  background: #0cf;
  transform: scaleY(0) translateZ(0);
  transform-origin: top;
  z-index: 0;
  transition: all 0.4s ease-out;
}
.entry:hover .length{
  transform: scaleY(1) translateZ(0);
  z-index: 4;
}
.entry:nth-of-type(even) .length{ right: -1px; }
.entry:nth-of-type(odd) .length{ left: 0; }



/*******/
/***  PROJECT THUMBNAILS  ***/
/*******/

#projects{
  padding-top: 50px;
  line-height: 0;
  left: calc(50% + 2px);
}

.project-tile{
  position: relative;

  width: 200px;
  height: 200px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 100px;
  margin-bottom: -50px;
  margin-left: -4px;
  position: relative;
  overflow: hidden;

  font-family: 'Work Sans', sans-serif;
  text-align: center;
  line-height: normal;

  background-position: center;
  transform-origin: center center;
  transform: rotate(45deg);
  color: #909090;
  outline: 1px dashed #383838;

  opacity: 0.0;
  visibility: hidden;
  transition: all 0.2s ease;
  pointer-events: none;
}

.project-group[value="selectors"] .project-tile{
  line-height: 1em;
  opacity: 1.0;
  visibility: visible;
  transition: all 0.2s ease;
  pointer-events: all;
}

.project-group[value="selectors"] .project-tile:hover,
.project-tile:hover{
  outline: 1px solid #0cf;
  z-index: 10;
  transition: all 0.2s ease;
}

.project-tile label{
  display: block;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

@media (min-width: 1651px){
  .project-group > div:nth-child(9n-3), .project-group > div:nth-child(9n-2), .project-group > div:nth-child(9n-1),
  .project-group > div:nth-child(9n-0){
    left: 150px;
  }

  .project-group > div:nth-child(9n-0){
    margin-right: 300px;
  }

  .project-group{
    width: 1500px;
  }
}
@media (max-width: 1650px) and (min-width: 1351px){
  .project-group > div:nth-child(7n-2), .project-group > div:nth-child(7n-1),
  .project-group > div:nth-child(7n-0){
    left: 150px;
  }

  .project-group > div:nth-child(7n-0){
    margin-right: 300px;
  }

  .project-group{
    width: 1200px;
  }
}
@media (max-width: 1350px) and (min-width: 1051px){
  .project-group > div:nth-child(5n-1),
  .project-group > div:nth-child(5n-0){
    left: 150px;
  }

  .project-group > div:nth-child(5n-0){
    margin-right: 300px;
  }

  .project-group{
    width: 900px;
  }
}

@media (max-width: 1050px){
  .project-group > div:nth-child(3n-0){
    left: 150px;
    margin-right: 300px;
  }

  .project-group{
    width: 600px;
  }
}

.project-tile.selector{
  background-color: #282828;
  font-size: 1.3em;
  font-weight: 300;
}

/* Active Project Group */
input[value="1"]:checked ~ .project-group[value="1"],
input[value="2"]:checked ~ .project-group[value="2"],
input[value="3"]:checked ~ .project-group[value="3"],
input[value="4"]:checked ~ .project-group[value="4"],
input[value="5"]:checked ~ .project-group[value="5"],
input[value="6"]:checked ~ .project-group[value="6"],
input[value="7"]:checked ~ .project-group[value="7"],
input[value="8"]:checked ~ .project-group[value="8"],
input[value="9"]:checked ~ .project-group[value="9"]{
  visibility: hidden;
  transform: translateX(-50%) scaleY(1);
  transition: all 0.4s step-start;
}

/* Active Project Tiles */
input[value="1"]:checked ~ .project-group[value="1"] .project-tile,
input[value="2"]:checked ~ .project-group[value="2"] .project-tile,
input[value="3"]:checked ~ .project-group[value="3"] .project-tile,
input[value="4"]:checked ~ .project-group[value="4"] .project-tile,
input[value="5"]:checked ~ .project-group[value="5"] .project-tile,
input[value="6"]:checked ~ .project-group[value="6"] .project-tile,
input[value="7"]:checked ~ .project-group[value="7"] .project-tile,
input[value="8"]:checked ~ .project-group[value="8"] .project-tile,
input[value="9"]:checked ~ .project-group[value="9"] .project-tile{
  opacity: 1.0;
}

/* Active Selector Tile */
input[value="1"]:checked ~ .project-group .selector[value="1"],
input[value="2"]:checked ~ .project-group .selector[value="2"],
input[value="3"]:checked ~ .project-group .selector[value="3"],
input[value="4"]:checked ~ .project-group .selector[value="4"],
input[value="5"]:checked ~ .project-group .selector[value="5"],
input[value="6"]:checked ~ .project-group .selector[value="6"],
input[value="7"]:checked ~ .project-group .selector[value="7"],
input[value="8"]:checked ~ .project-group .selector[value="8"],
input[value="9"]:checked ~ .project-group .selector[value="9"]{
  background-color: #181818;
  outline: 1px solid #0cf;
  color: #c0c0c0;
}

.project-tile.selector div{
  transform: rotate(-45deg);
  margin-top: calc(50% - 0.5em);
}

.project-tile.shifter{
  visibility: hidden !important;
}

.project-tile.extra{
  background: #383838;
  outline: 1px dashed #606060;
  outline-offset: -1px;
}

.project-tile.extra-small{
  background: #383838;
  outline: 1px dashed #606060;
  outline-offset: -1px;
  width: 100px;
  height: 100px;
  margin-right: 200px;
  margin-bottom: 50px;
  transform: rotate(45deg) translateX(75%);
}

.project-group {
  left: calc(50% + 52px);
  transform: translateX(-50%) scaleY(0);
  position: absolute;
  visibility: hidden;
  text-align: left;
  transition: all 0.4s step-start;
}
.project-group:after{
  content: "";
  height: 200px;
  display: block;
}
.project-group[value="selectors"]{
  opacity: 1.0;
  visibility: visible;
  transform: translateX(-50%) scaleY(1);
}

input[value="1"]:checked ~ .project-group[value="1"] .project-tile,
input[value="2"]:checked ~ .project-group[value="2"] .project-tile,
input[value="3"]:checked ~ .project-group[value="3"] .project-tile,
input[value="4"]:checked ~ .project-group[value="4"] .project-tile,
input[value="5"]:checked ~ .project-group[value="5"] .project-tile,
input[value="6"]:checked ~ .project-group[value="6"] .project-tile,
input[value="7"]:checked ~ .project-group[value="7"] .project-tile,
input[value="8"]:checked ~ .project-group[value="8"] .project-tile,
input[value="9"]:checked ~ .project-group[value="9"] .project-tile{
  opacity: 1.0;
  visibility: visible;
  transition: all 0.4s step-start;
  pointer-events: all;
}

.project-thumb{
  transform: rotate(-45deg);
  position: absolute;
  top: -20.7%;
  left: -20.7%;
  width: 141.4%;
  height: 141.4%;
  background-size: cover;
  filter: grayscale(100%) contrast(25%) brightness(45%);
}

.project-tile:hover .project-thumb{
  filter: grayscale(0%) contrast(100%) brightness(100%);
  transition: filter 0.4s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}
.project-tile > div{
  transform: rotate(-45deg);
  text-align: center;
}
.project-name{
  color: #e0e0e0;
  position: absolute;
  padding: 0.25em 0.5em;
  top: calc(50% - 0.85em);
  left: -1.85em;
  width: 141%;
  font-size: 1.1em;
  line-height: 1em;
  white-space: nowrap;
  font-weight: 300;
  z-index: 10;
  pointer-events: none;
  transition: all 0.25s ease;
}
.project-tile:hover .project-name{
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  top: calc(50% - 1.3em);
  left: -2.3em;
  transition: all 0.15s ease;
}
.project-tile .project-name a{
  color: inherit;
  pointer-events: auto;
}
.project-tile .project-name a:hover{
  color: #0cf;
}

.project-name .project-tags{
  color: #c0c0c0;
  font-size: 0.6em;
  font-weight: 500;
  opacity: 0;
  transition: all 0.25s ease;
}
.project-tile:hover .project-tags{
  opacity: 1.0;
  transition: all 0.15s ease;
}

.project-active{
  position: absolute;
  top: 40px;
  left: -25%;
  font-size: 0.8em;
  padding: 0.5em;
  width: 100%;
  pointer-events: none;
  transition: all 0.25s ease;
}
.project-tile:hover .project-active{
  color: #0cf;
  background: rgba(0,0,0,0.7);
  transition: all 0.15s ease;
}

.project-info{
  width: 200px;
  position: absolute;
  top: 50px;
  left: -4px;
  transition: all 0.4s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}
.project-info > div{
  position: relative;
  padding: 0.25em 0;
  font-size: 0.8em;
  font-weight: 500;
  opacity: 0;
}

.project-info .project-tags{
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  transition: all 0.4s cubic-bezier(0.25, 1.000, 0.600, 1.000);
  z-index: 7;
}
.project-tile:hover .project-tags{
  opacity: 1;
  transition: all 0.15s ease-out;
}
.project-tags a{
  color: inherit;
}
.project-tags a:hover{
  color: #0cf;
}

.project-tools{
  bottom: 1em;
  color: #a0a0a0;
  z-index: 5;
}
.project-tile:hover .project-tools{
  bottom: 0;
  opacity: 1;
  transition: all 0.15s ease-out 0.15s;
}

.project-date{
  color: #808080;
  bottom: 1em;
  z-index: 4;
}
.project-tile:hover .project-date{
  bottom: 0em;
  opacity: 1;
  transition: all 0.15s ease-out 0.3s;
}



/*******/
/***  SINGLE  ***/
/*******/
.project, .tag-page{
  position: relative;
  max-width: 960px;
  width: calc(100% - 128px);
  margin: auto;
}

.content{
  margin-top: 2em;
  font-size: 16px;
}

.content p:not(:empty){
  line-height: 1.6em;
  background: #282828;
  padding: 1em;
  margin: 1.5rem 0;
}

.content h1, .content h2, .content h3{
  color: #f0f0f0;
  font-weight: 200;
  text-align: center;
}
.content h1, .content h2{
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.content h1:before, .content h1:after,
.content h2:before, .content h2:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: #606060;
}
.content h1:before,
.content h2:before {
  margin-left: -55%;
  text-align: right;
}
.content h1:after,
.content h2:after {
  margin-left: 5%;
  text-align: left;
}

.content h1{ font-size: 2.5rem; }
.content h2{
  font-size: 1.5rem;
  font-weight: 300;
  color: #c0c0c0;
}
.content h3{ font-size: 1.2rem; }

.content p.note{
  font-style: italic;
  color: #808080;
  padding: 0.25em 1em;
}

.content .project-image{
  margin: 2em 0;
  background-size: cover;
}
.content .project-image img, .content .project-image video{
  display: block;
  width: 100%;
  height: auto;
  outline: 0px solid #181818;
  transition: all 0.3s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}
.content .project-image img:hover, .content .project-image video:hover{
  outline-width: 32px;
  transition: all 0.4s cubic-bezier(0.15, 1.900, 0.500, 1.000);
}

.content .caption{
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
  background: #282828;
  color: #a0a0a0;
}
.content .project-image .caption{
  padding: 0.5em;
}

.content label{
  cursor: zoom-in;
}

.lightbox{
  position: fixed;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 10;
  background: rgba(24,24,24,0.8);
}
.lightbox label {
  cursor: zoom-out;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.lightbox label ~ .lightbox .caption{
  top: 1.5em;
}

.lightbox img{
  max-width: 85vw;
  max-height: 85vh;
  position: relative;
  outline: 1px solid #404040;
  transition: outline 0.2s ease;
  cursor: zoom-out;
}
.lightbox img:hover{
  outline: 1px solid #0cf;
}

.content .lightbox .caption{
  text-align: center;
  font-weight: 300;
  background: none;
  color: #e0e0e0;
  font-size: 1.1em;
}

input:checked + div.lightbox{
  opacity: 1.0;
  pointer-events: all;
  transition: all 0.3s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}

input:not(:checked) + div.lightbox{
  opacity: 0.0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.15, 1.900, 0.500, 1.000);
}

#return{
  font-size: 15px;
  position: fixed;
  height: 4em;
  width: 11em;
  left: -7em;
  top: 4em;
  text-align: right;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  background-color: #181818;
  outline: 1px solid #181818;
  transition: all 0.5s cubic-bezier(0.25, 1.000, 0.600, 1.000);
  z-index: 50;
}
#return:hover{
  left: -1em;
  outline: 1px solid #0cf;
  transition: all 0.5s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}
#return span{
  position: absolute;
  line-height: 4em;
  left: 3em;
  color: #a0a0a0;
  white-space: pre;
}
#return:hover span{
  color: #fff;
}

#return-bottom{
  margin-top: 1.5rem;
  margin-bottom: 9rem;
  height: 12rem;
  line-height: 12rem;
  background: #282828;
  width: 100%;
  display: block;

  outline: 1px solid #383838;

  text-align: center;
  font-size: 2.5rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;

  transition: outline 0.3s ease;
}
#return-bottom:hover{
  outline-color: #0cf;
  transition: outline 0.15s ease;
}

#return-bottom a{
  display: block;
  width: 100%;
  height: 100%;
  color: #808080;
}
#return-bottom a:hover{
  color: #0cf;
}



/*******/
/***  List  ***/
/*******/
#list-header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 100;
  background: #282828;
}

#other-tags,
#related {
  background: #282828;
  padding: 1em;
}

#other-tags h3{
  margin-top: 0;
  margin-bottom: 0.5em;
}

#other-tags a,
#related a {
  color: #a0a0a0;
  display: inline;
  background: #181818;
  margin-right: 0.25em;
  margin-bottom: 0.5em;
  padding: 0.25em 0.5em;
  transition: all 0.3s ease;
  vertical-align: middle;
  line-height: 2.25em;
}
#related a {
  margin: 0.5em;
  color: #e0e0e0;
}
#related a + a{
  margin-left: 0;
}

#other-tags a:hover,
#related a:hover {
  background: #0cf;
  color: #fff;
  transition: all 0.15s ease;
}



/*******/
/***  Project Header  ***/
/*******/
.header{
  position: relative;
  background: #282828;
  margin: 1.5rem 0;
  height: 160px;
  text-align: left;
}
.header:hover{
}

.header > a{
  display: block;
  float: left;
}
.header .image{
  width: 136px;
  height: 136px;
  margin: 12px;
  background-size: cover;
  outline: 1px solid #282828;
  transition: all 0.3s ease;
}
.header .image:hover{
  outline: 1px solid #0cf;
  transition: all 0.2s ease;
}

.header .info{
  color: #a0a0a0;
  margin-left: 160px;
  margin-right: 1em;
  padding-top: 12px;
  font-size: 0.8em;
}
.header .info .title a{
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 300;
  color: #c0c0c0;
  white-space: nowrap;
}
.header .info .title a:hover{
  color: #0cf;
}

.header .info .subtitle{
  color: #808080;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
}
.header .info .tags > div, .header .info .tags > a,
.header .info .tools > div{
  display: inline-block;
  background: #181818;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.25em 0.5em;
  transition: all 0.3s ease;
}
.header .info div > div:first-of-type{
  color: #c0c0c0;
  background: #101010;
}
.header .info .tags a {
}
.header .info .tags a:hover{
  background: #0cf;
  color: #fff;
}
