/*******/
/***  META  ***/
/*******/

html{
}
html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  text-align: center;
  font-feature-settings: "liga" 0;
  font-weight: 400;
}

body{
  background-color: #383838;
  /*background-image: url('/images/meta/tilegrid-bg.png');*/
  /*background-position: 50% 0px;*/
  /*background-position: calc(50% + 75px) 0px;*/

  color: #d0d0d0;
}

a{
  color: #0cf;
	text-decoration: none;
  transition: color 0.2s ease;
}
a:hover{
  color: #6ff;
  transition: color 0.2s ease;
}

h1, h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0;
  text-align: center;
  letter-spacing: 0.05em;
  color: #c0c0c0;
}
h1{
  font-size: 4.5vw;
}
@media (min-width: 1250px){
  h1{
    font-size: 3em;
  }
}
h2{ font-size: 2em; }

p{
  text-align: center;
}

iframe{
  border: none;
}

hr{
  border-color: #606060;
  margin: 4rem 0;
}

input{
  display: none;
}

.rotate{ transform: rotate(45deg); }
.unrotate{ transform: rotate(-45deg); }



/*******/
/***  TOP LOGO  ***/
/*******/

.topstuff {
  font-family: 'Raleway', sans-serif;
  color: #bbb;

  font-size: 3em;
  letter-spacing: 6px;
  text-align: center;
  line-height: 1.6em;

  top: 0px;
  margin: auto;
  width: 100%;

  overflow: visible;
  white-space: nowrap;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.topstuff2{
  text-align: center;
  color: #aaa;
  letter-spacing: 2.2px;
  font-size: 0.7em;

  margin: auto;
  margin-top: -1.5em;
  margin-bottom: 50px;

  z-index: 11;
	overflow: visible;
  white-space: nowrap;
}



/*******/
/***  BIO  ***/
/*******/

#bio{
}

#bio .project-tile.about{
  font-size: 0.75rem;
  line-height: 1.375em;
  width: 200px;
  height: 200px;
  outline: none;
  overflow: hidden;
}
#bio .project-tile > div{
  width: 283px;
  height: 283px;
  position: relative;
  text-align: center;
}
#bio .tile-content{

  top: -34px;
  left: -34px;
  color: #c0c0c0;
}
#kev{
  outline: 1px solid #000 !important;
}
#kev.project-tile.about{
  width: 176px;
  height: 176px;
  margin-left: 8px;
  margin-right: 112px;
  margin-bottom: -38px;
  margin-top: 12px;
  outline: 12px solid #202020 !important;
}
#kev .tile-content{
  top: -30px;
  left: -30px;
  background-size: cover;
  background-position: 0;
}

#bio .project-tile .plate{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #202020;
  transform: rotate(0deg);
}
#bio svg{
  display: block;
  fill: #606060;
}

#email svg{
  position: absolute;
  left: 40%;
  top: 50px;
  transition: fill 0.3s ease;
}
#email a{
  position: absolute;
  display: block;
  width: 100%;
  font-size: 28px;
  font-weight: 200;
  top: 120px;
}
#email span{
  position: absolute;
  display: block;
  color: #808080;
  width: 100%;
  top: 160px;
}
#email a:hover ~ svg{
  fill: #fff;
  transition: fill 0.15s ease;
}

#social-array{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 34px;
  left: 34px;
}
#social-array a{
  position: absolute;
  text-align: center;
  display: block;
  width: 98px;
  height: 98px;
  outline: 1px dashed #202020;
  border: none;
  outline-offset: -1px;
  background: #202020;
  transition: all 0.3s ease;
}
#social-array a:nth-child(2){
  right: 0;
}
#social-array a:nth-child(3){
  bottom: 0;
}
#social-array a:nth-child(4){
  right: 0;
  bottom: 0;
}

#social-array a:hover{
  outline: 1px solid #0cf;
  transition: all 0.2s ease;
  overflow: hidden;
}
#social-array svg{
  display: block;
  position: absolute;
  margin: auto;
  left: 8%;
  top: 8%;
  fill: #808080;
  width: 60%;
  transition: all 0.3s ease;
}
#social-array a:hover svg{
  fill: #fff;
  transition: all 0.2s ease;
}
#social-array a span{
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 15%;
  top: 58%;
  margin: auto;
  font-size: 1em;
  color: #808080;
  transition: all 0.5s ease;
}
#social-array a:hover span{
  color: #fff;
  transition: all 0.15s ease;
}



/*******/
/***  REEL  ***/
/*******/

#reel{

}
#reel .tile-content{
  top: -42px;
  left: -42px;
  background-size: 283px 283px;
  filter: grayscale(100%) contrast(25%) brightness(45%);
  transition: all 0.2s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}

#reel:hover .tile-content{
  color: #0cf;
  filter: grayscale(0%) contrast(100%) brightness(100%);
  transition: all 0.2s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}
#reel div.project-name{
  font-size: 1.3rem;
  line-height: 1.8rem;
  width: 141%;
  height: 1.5em;
  vertical-align: middle;
  position: absolute;
  top: 75px;
  left: -55px;
}
#reel:hover div.project-name{
  color: #0cf;
}

#reel-video{
  width: 85vw;
  height: 47.81vw;
  max-height: 80vh;
  border: 2vw solid #101010;
}

#reel-breakdown {
  margin-top: 50px;
}
#reel-breakdown table{
  margin-top: 0.5em;
  border-collapse: collapse;
}
#reel-breakdown thead tr,
#reel-breakdown tfoot tr{
  font-size: 1em;
  background-color: #202020;
}
#reel-breakdown thead th,
#reel-breakdown tfoot th{
  padding: 0.5em 1em;
  font-weight: 500;
}
#reel-breakdown td{
  padding: 0.5em 0.5em;
  font-size: 0.8em;
}
#reel-breakdown td:nth-of-type(1){
  width: 5em;
}
#reel-breakdown tr{
  background-color: #282828;
}
#reel-breakdown tr:nth-last-of-type(even) td{
  background-color: #303030;
}


/*******/
/***  PROJECT THUMBNAILS  ***/
/*******/

#projects{
  line-height: 0;
  position: absolute;
  top: 200px;
  left: calc(50% + 2px);
}

.project-tile{
  position: relative;

  width: 200px;
  height: 200px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 100px;
  margin-bottom: -50px;
  margin-left: -4px;
  position: relative;
  overflow: hidden;

  text-align: center;
  line-height: normal;

  background-position: center;
  transform-origin: center center;
  transform: rotate(45deg);
  color: #909090;
  outline: 1px dashed #383838;

  opacity: 0.0;
  visibility: hidden;
  transition: all 0.2s ease;
  pointer-events: none;
}

.project-group[value="selectors"] .project-tile{
  line-height: 1em;
  opacity: 1.0;
  visibility: visible;
  transition: all 0.2s ease;
  pointer-events: all;
}

.project-group[value="selectors"] .project-tile:hover,
.project-tile:hover{
  outline: 1px solid #0cf;
  z-index: 10;
  transition: all 0.2s ease;
}

.project-tile label{
  display: block;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

@media (min-width: 1651px){
  .project-group > div:nth-child(9n-3), .project-group > div:nth-child(9n-2), .project-group > div:nth-child(9n-1),
  .project-group > div:nth-child(9n-0){
    left: 150px;
  }

  .project-group > div:nth-child(9n-0){
    margin-right: 300px;
  }

  .project-group{
    width: 1500px;
  }
}
@media (max-width: 1650px) and (min-width: 1351px){
  .project-group > div:nth-child(7n-2), .project-group > div:nth-child(7n-1),
  .project-group > div:nth-child(7n-0){
    left: 150px;
  }

  .project-group > div:nth-child(7n-0){
    margin-right: 300px;
  }

  .project-group{
    width: 1200px;
  }
}
@media (max-width: 1350px) and (min-width: 1051px){
  .project-group > div:nth-child(5n-1),
  .project-group > div:nth-child(5n-0){
    left: 150px;
  }

  .project-group > div:nth-child(5n-0){
    margin-right: 300px;
  }

  .project-group{
    width: 900px;
  }
}

@media (max-width: 1050px){
  .project-group > div:nth-child(3n-0){
    left: 150px;
    margin-right: 300px;
  }

  .project-group{
    width: 600px;
  }
}

.project-tile.selector{
  background-color: #282828;
  font-size: 1.3em;
  font-weight: 300;
}

/* Active Project Group */
input[value="about"]:checked ~ .project-group[value="about"],
input[value="animation"]:checked ~ .project-group[value="animation"],
input[value="vfx"]:checked ~ .project-group[value="vfx"],
input[value="product"]:checked ~ .project-group[value="product"],
input[value="art"]:checked ~ .project-group[value="art"],
input[value="all"]:checked ~ .project-group[value="all"]{
  visibility: hidden;
  transform: translateX(-50%) scaleY(1);
  transition: all 0.4s step-start;
}

/* Active Project Tiles */
input[value="about"]:checked ~ .project-group[value="about"] .project-tile,
input[value="animation"]:checked ~ .project-group[value="animation"] .project-tile,
input[value="vfx"]:checked ~ .project-group[value="vfx"] .project-tile,
input[value="product"]:checked ~ .project-group[value="product"] .project-tile,
input[value="art"]:checked ~ .project-group[value="art"] .project-tile,
input[value="all"]:checked ~ .project-group[value="all"] .project-tile{
  opacity: 1.0;
}

/* Active Selector Tile */
input[value="about"]:checked ~ .project-group .selector[value="about"],
input[value="animation"]:checked ~ .project-group .selector[value="animation"],
input[value="vfx"]:checked ~ .project-group .selector[value="vfx"],
input[value="product"]:checked ~ .project-group .selector[value="product"],
input[value="art"]:checked ~ .project-group .selector[value="art"],
input[value="all"]:checked ~ .project-group .selector[value="all"]{
  background-color: #181818;
  outline: 1px solid #0cf;
  color: #c0c0c0;
}

.project-tile.selector div{
  transform: rotate(-45deg);
  margin-top: calc(50% - 0.5em);
}

.project-tile.shifter{
  visibility: hidden !important;
}

.project-tile.extra{
  background: #383838;
  outline: 1px dashed #606060;
  outline-offset: -1px;
}

.project-tile.extra-small{
  background: #383838;
  outline: 1px dashed #606060;
  outline-offset: -1px;
  width: 100px;
  height: 100px;
  margin-right: 200px;
  margin-bottom: 50px;
  transform: rotate(45deg) translateX(75%);
}

.project-group {
  left: calc(50% + 52px);
  transform: translateX(-50%) scaleY(0);
  position: absolute;
  visibility: hidden;
  text-align: left;
  transition: all 0.4s step-start;
}
.project-group:after{
  content: "";
  height: 200px;
  display: block;
}
.project-group[value="selectors"]{
  opacity: 1.0;
  visibility: visible;
  transform: translateX(-50%) scaleY(1);
}

input[value="about"]:checked ~ .project-group[value="about"] .project-tile,
input[value="animation"]:checked ~ .project-group[value="animation"] .project-tile,
input[value="vfx"]:checked ~ .project-group[value="vfx"] .project-tile,
input[value="product"]:checked ~ .project-group[value="product"] .project-tile,
input[value="art"]:checked ~ .project-group[value="art"] .project-tile,
input[value="all"]:checked ~ .project-group[value="all"] .project-tile{
  opacity: 1.0;
  visibility: visible;
  transition: all 0.4s step-start;
  pointer-events: all;
}

.project-thumb{
  transform: rotate(-45deg);
  position: absolute;
  top: -20.7%;
  left: -20.7%;
  width: 141.4%;
  height: 141.4%;
  background-size: cover;
  filter: grayscale(100%) contrast(25%) brightness(45%);
}

.project-tile:hover .project-thumb{
  filter: grayscale(0%) contrast(100%) brightness(100%);
  transition: filter 0.4s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}
.project-tile > div{
  transform: rotate(-45deg);
  text-align: center;
}
.project-name{
  color: #e0e0e0;
  position: absolute;
  padding: 0.25em 0.5em;
  top: calc(50% - 0.85em);
  left: -20.5%;
  width: 141%;
  font-size: 1.2em;
  line-height: 1em;
  white-space: nowrap;
  font-weight: 300;
  z-index: 10;
  pointer-events: none;
  transition: all 0.15s ease;
}
.project-tile:hover .project-name{
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  top: calc(50% - 1.25em);
  left: -25.5%;
  transition: all 0.15s ease;
}
.project-tile .project-name a{
  color: inherit;
  pointer-events: auto;
}
.project-tile .project-name a:hover{
  color: #0cf;
}

.project-name .project-tags{
  color: #c0c0c0;
  font-size: 0.6em;
  font-weight: 500;
  opacity: 0;
}
.project-tile:hover .project-tags{
  opacity: 1.0;
}

.project-info{
  width: 200px;
  position: absolute;
  top: 50px;
  left: -4px;
  transition: all 0.4s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}
.project-info > div{
  position: relative;
  padding: 0.25em 0;
  font-size: 0.8em;
  font-weight: 500;
  opacity: 0;
}

.project-info .project-tags{
  color: #ffffff;
  transition: all 0.4s cubic-bezier(0.25, 1.000, 0.600, 1.000);
  z-index: 7;
}
.project-tile:hover .project-tags{
  opacity: 1;
  transition: all 0.15s ease-out;
}
.project-tags a{
  color: inherit;
}
.project-tags a:hover{
  color: #0cf;
}

.project-tools{
  bottom: 1em;
  color: #a0a0a0;
  z-index: 5;
}
.project-tile:hover .project-tools{
  bottom: 0;
  opacity: 1;
  transition: all 0.15s ease-out 0.15s;
}

.project-date{
  color: #808080;
  bottom: 1em;
  z-index: 4;
}
.project-tile:hover .project-date{
  bottom: 0em;
  opacity: 1;
  transition: all 0.15s ease-out 0.3s;
}



/*******/
/***  SINGLE  ***/
/*******/
.project, .tag-page{
  max-width: 960px;
  width: calc(100% - 128px);
  margin: auto;
}

.content{
  margin-top: 2em;
  font-size: 16px;
}

.content p:not(:empty){
  line-height: 1.6em;
  background: #282828;
  padding: 1em;
  margin: 2em 0;
}

.content h1, .content h2, .content h3{
  color: #f0f0f0;
  font-weight: 200;
  text-align: center;
}
.content h1{
  font-size: 3.5em;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.content h1:before, .content h1:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: #606060;
}
.content h1::after {
  margin-left: 5%;
  text-align: left;
}
.content h1::before {
  margin-left: -55%;
  text-align: right;
}

.content h2{
  font-size: 2.5em;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.content h2:before, .content h2:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: #606060;
}
.content h2::after {
  margin-left: 5%;
  text-align: left;
}
.content h2::before {
  margin-left: -55%;
  text-align: right;
}

.content h3{ font-size: 1.5em; }

.content .project-image{
  margin: 2em 0;
  background-size: cover;
}
.content .project-image img, .content .project-image video{
  width: 100%;
  height: auto;
  outline: 0px solid #181818;
  transition: all 0.3s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}
.content .project-image img:hover, .content .project-image video:hover{
  outline-width: 2em;
  transition: all 0.4s cubic-bezier(0.15, 1.900, 0.500, 1.000);
}

.content .caption{
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
  background: #282828;
  color: #a0a0a0;
  width: 100%;
  line-height: 2em;
}
.content .project-image .caption{
  padding-top: 6px;
  margin-top: -6px;
}

.content label,
#reel label{
  cursor: zoom-in;
}

.lightbox{
  position: fixed;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 10;
  background: rgba(24,24,24,0.8);
}
.lightbox label {
  cursor: zoom-out;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.lightbox label ~ .lightbox .caption{
  top: 1.5em;
}

.lightbox img{
  max-width: 85vw;
  max-height: 85vh;
  position: relative;
  outline: 1px solid #404040;
  transition: outline 0.2s ease;
  cursor: zoom-out;
}
.lightbox img:hover{
  outline: 1px solid #0cf;
}

.content .lightbox .caption{
  text-align: center;
  font-weight: 300;
  background: none;
  color: #e0e0e0;
  font-size: 1.1em;
}

input:checked + div.lightbox{
  opacity: 1.0;
  pointer-events: all;
  transition: all 0.3s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}

input:not(:checked) + div.lightbox{
  opacity: 0.0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.15, 1.900, 0.500, 1.000);
}

#return{
  font-size: 15px;
  position: fixed;
  height: 4em;
  width: 10.5em;
  left: -6.5em;
  top: 4em;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  background-color: #181818;
  outline: 1px solid #181818;
  transition: all 0.5s cubic-bezier(0.25, 1.000, 0.600, 1.000);
  z-index: 50;
}
#return:hover{
  left: -1em;
  outline: 1px solid #0cf;
  transition: all 0.5s cubic-bezier(0.25, 1.000, 0.600, 1.000);
}
#return span{
  position: absolute;
  line-height: 4em;
  left: 3em;
  color: #a0a0a0;
  white-space: pre;
}
#return:hover span{
  color: #fff;
}

.bottom-spacer{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  height: 20vh;
  background: #282828;
  line-height: 20vh;
  font-size: 3vh;
  margin-top: 10vh;
}
.bottom-spacer:hover{
  transition: all 0.2s ease;
}



/*******/
/***  List  ***/
/*******/
#list-header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  font-weight: 100;
  background: #282828;
}

#other-tags,
#related {
  background: #282828;
  padding: 0.5em;
}
#other-tags h3{
  color: #a0a0a0;
  font-weight: 300;
  font-size: 1.5em;
  margin: 0;
  line-height: 2.2em;
}
#other-tags a,
#related a {
  color: #a0a0a0;
  display: inline-block;
  background: #181818;
  margin-right: 0.25em;
  margin-bottom: 0.5em;
  padding: 0.25em 0.5em;
  transition: all 0.3s ease;
}
#related a {
  margin: 0.25em;
  color: #e0e0e0;
}
#related a + a{
  margin-left: 0;
}
#related span:last-of-type,
#related span:last-of-type a{
  /*color: #808080;*/
}
#other-tags a:hover,
#related a:hover {
  background: #0cf;
  color: #fff;
}



/*******/
/***  Project Header  ***/
/*******/
.header{
  position: relative;
  background: #282828;
  margin: 2em 0;
  height: 160px;
  text-align: left;
}
.header:hover{
}

.header .image{
  width: 136px;
  height: 136px;
  margin: 12px;
  background-size: cover;
  position: absolute;
  outline: 1px solid #282828;
  transition: all 0.3s ease;
}
.header .image:hover{
  outline: 1px solid #0cf;
  transition: all 0.2s ease;
}

.header .info{
  color: #a0a0a0;
  margin-left: 160px;
  margin-right: 1em;
  padding-top: 12px;
  font-size: 0.8em;
}
.header .info .title{
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 100;
  white-space: nowrap;
}
.header .info .subtitle{
  color: #808080;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
}
.header .info .tags > div, .header .info .tags > a,
.header .info .tools > div, .header .info .tools > a {
  display: inline-block;
  background: #181818;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.25em 0.5em;
  transition: all 0.3s ease;
}
.header .info div > div:first-of-type{
  color: #c0c0c0;
  background: #101010;
}
.header .info .tags a {
}
.header .info .tags a:hover{
  background: #0cf;
  color: #fff;
}
