{{ partial "header-meta" . }}

{{ partial "header" . }}

<h1>{{ .Title }} Projects</h1>
<br><br>

<div id="projects">
  <div class="project-group">

    {{ partial "link-tile" (dict "title" "Return" "url" "/" "delay" 0) }}

    {{ $rootContext := . }}
    {{ .Scratch.Set "offset" 0.0 }}

    {{ range .Data.Pages }}
      {{ partial "project-tile" (dict "proj" . "lerp" 0) }}
    {{ end }}

    {{ partial "link-tile" (dict "title" "Tag Cloud" "url" "/tags" "delay" 0) }}

  </div>
</div>

{{ partial "footer" . }}

{{ partial "footer-meta" . }}
