{{ partial "header-meta" . }}
{{ partial "header" . }}

<div class="project">

  {{ partial "return-top" . }}

  {{ partial "project-header" . }}

  {{ if .Params.active }}
    <p class="note">Note: This project is currently active, things are still being added and improved!</p>
  {{ end }}

  {{ if .Params.sections }}
    <div class="proj-toc">
      <h2>Project Sections</h2>
      {{ range $index, $el := .Params.sections }}
        {{ if ne $index 0 }}<span class="separator"> / </span>{{ end }}
        <h3><a href="#{{ . | urlize }}">{{.}}</a></h3>
      {{ end }}
    </div>
  {{ end }}

  <div class="content">

    {{ if .Params.peak }}
      <p>{{ .Summary }}</p>
    {{ else }}
      {{ .Content }}
    {{ end }}

    <div id="related">
      <span>Find other</span>
        {{ range $index, $el := .Params.tags }}
        <a href="/tags/{{ . | urlize }}">
          {{ . }}
        </a>
      {{- end -}}
      projects<span>, or look in the
        <a href="/tags/">
          Tag Cloud
        </a>
      </span>
    </div>

  </div>

  {{ partial "return-bottom" . }}

</div>

{{ partial "footer-meta" . }}
