{{ partial "header-meta" . }}
{{ partial "header" . }}

<div class="project">

  {{ partial "return-top" }}

  {{ partial "project-header" . }}

  <div class="content">
    {{ .Content }}

    <div id="related">
      <span>Find other</span>
        {{ range $index, $el := .Params.tags }}
        <a href="/tags/{{ . | urlize }}">
          {{ . }}
        </a>
      {{- end -}}
      projects<span>, or look in the
        <a href="/tags/">
          Tag Cloud
        </a>
      </span>
    </div>
  </div>
</div>

{{ partial "return-bottom" }}

{{ partial "footer-meta" . }}
