{{ partial "header-meta" . }}
{{ partial "header" . }}

<div class="project">

  {{ partial "return-top" . }}

  {{ partial "project-header" . }}

  <div class="content">

    {{ if .Params.active }}
      <p class="note">Note: This is only a peak of the final project, which will be shown when it's complete!</p>
    {{ end }}

    {{ if .Params.peak }}
      <p>{{ .Summary }}</p>
    {{ else }}
      {{ .Content }}
    {{ end }}

    <div id="related">
      <span>Find other</span>
        {{ range $index, $el := .Params.tags }}
        <a href="/tags/{{ . | urlize }}">
          {{ . }}
        </a>
      {{- end -}}
      projects<span>, or look in the
        <a href="/tags/">
          Tag Cloud
        </a>
      </span>
    </div>
  </div>

  {{ partial "return-bottom" . }}
  
</div>

{{ partial "footer-meta" . }}
