{{ partial "header-meta" . }}
{{ partial "header" . }}

<div class="tag-page">
  <div id="list-header">Find projects by {{ .Data.Singular }}</div>

  <div id="other-tags">
    <br>
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.Alphabetical }}
      <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}"
        style="font-size: {{ mul $value.Count 0.25 | add 0.75 }}em;">
        {{ $value.Name }}
      </a>
    {{ end }}
  </div>

  {{ partial "return-bottom" . }}

</div>

{{ partial "footer-meta" . }}
