<div id="bio" class="project-group" value="{{ .groupID }}">

  {{ partial "project-group-shifters" "about" }}

  <!-- Reel Tile -->
  {{ partial "link-tile" (dict "title" "Reel" "url" "/reel" "delay" 0.00 "groupID" .groupID) }}

  <div class="about project-tile" value="{{ .groupID }}"
  style="transition: opacity 0.4s ease 0.05s;">
    <div class="plate"></div>
    <div class="tile-content">
      <br><br><br>Hi, <b>I'm Kevin.</b><br><br>I've been doing 3D work for<br>over eight years, most of it in LA, <br>and some of it in Detroit. I hope to<br>continue doing this in<br>many places.
      </div>
  </div>

  <div class="about project-tile" value="{{ .groupID }}"
  style="transition: opacity 0.4s ease 0.1s;">
    <div class="plate"></div>
    <div class="tile-content">
      <br><br><br>When I'm not<br>working on my own<br>personal projects, I like making<br>music, photography, programming, <br>playing (and making!) video<br>games, and taking long<br>walks on the<br>beach.
    </div>
  </div>

  <div class="about project-tile" value="{{ .groupID }}"
  style="transition: opacity 0.4s ease 0.15s;">
    <div class="plate"></div>
    <div class="tile-content">
      <br><br><br><br>I put effort, quality, and<br>soul into my work because it<br>reflects who I am. I want to be proud <br>of the work I put out into the <br>world. I hope to inspire <br>others to do the<br>same.
    </div>
  </div>

  <div class="about project-tile" value="{{ .groupID }}"
  style="transition: opacity 0.4s ease 0.20s;" id="kev">
    <div class="tile-content" style="background-image: url('/images/portraits/kevin-weber.jpg')">
    </div>
  </div>

  <div class="about project-tile" value="{{ .groupID }}"
  style="transition: opacity 0.4s ease 0.25s;">
    <div class="plate"></div>
    <div class="tile-content">
      <br><br><br>I've been using<br>a computer since before<br>starting grade school, so I'm very<br>fluent in working with them in almost<br>every way. I'm experienced in<br>project setup through the<br>delivery of final<br>results.
    </div>
  </div>

  <!--<div class="about project-tile" value="{{ .groupID }}"
  style="transition: opacity 0.4s ease 0.30s;">
    <div class="plate"></div>
    <div class="tile-content">
      <br><br>
    </div>
  </div>-->

  <div class="about project-tile" value="{{ .groupID }}"
  style="transition: opacity 0.4s ease 0.3s;" id="email" >
    <div class="plate"></div>
    <div class="tile-content">
      <a href="mailto:kevin@bluevisual.tv" target="_blank">kevin@bluevisual.tv</a>
      <svg width="50" height="50" viewBox="0 0 24 24"><path d="M0 1v16.981h4v5.019l7-5.019h13v-16.981h-24zm13 12h-8v-1h8v1zm6-3h-14v-1h14v1zm0-3h-14v-1h14v1z"/></svg>
      <span>I typically reply within two<br>business days</span>
    </div>
  </div>

  <div class="about project-tile" value="{{ .groupID }}"
  style="transition: opacity 0.4s ease 0.35s;">
    <div class="tile-content" style="transform: rotate(0);">
      {{ partial "social-array" }}
    </div>
  </div>

</div>
