<div id="kev" style="background-image: url('/images/kev-01.jpg')"></div>

<p>Nice to meet you! I'm Kevin. I grew up near Los Angeles and stayed there most of my life until I moved to the Metro-Detroit area in 2014.</p>

<p>I've been using a computer since I was about two years old, so I am very fluent in working with them in almost every way. I am experienced in proper project setup and delivery of final results. I understand file formats, exporting, frames per second/drop frame, video/audio codecs, resolution, aspect ratio, bit depth... everything to make sure you get exactly what you need the way you need it.</p>

<p>I put effort and quality into my work because it reflects who I am. I want to be proud of the work I put out into the world.</p>

<p>When I'm not doing motion graphics for fun, I like making music, doing photography, programming, playing video games, and taking long walks on the beach.</p>
