<div id="bio" class="project-group" value="about">

  {{ partial "project-group-shifters" "about" }}

  <div class="about project-tile" value="about"
  style="transition: opacity 0.4s ease 0.00s;">
  <div class="plate"></div>
    <div class="tile-content ">
      <p><br><br><br>
        Nice to meet you!
        <br><b>I'm Kevin.</b><br><br>I grew up near Los Angeles and lived<br>there most of my life until I<br>moved to the Metro-Detroit<br>area for three years<br>before coming<br>back.</p>
      </div>
  </div>

  <div class="about project-tile" value="about"
  style="transition: opacity 0.4s ease 0.05s;">
  <div class="plate"></div>
    <div class="tile-content">
      <p><br><br><br>
        When I'm not<br>working on my own<br>personal projects, I like making<br>music, photography, programming, <br>playing (and making!) video<br>games, and taking long<br>walks on the<br>beach.</p>
    </div>
  </div>

  <div class="about project-tile" value="about"
  style="transition: opacity 0.4s ease 0.10s;">
  <div class="plate"></div>
    <div class="tile-content">
      <p><br><br><br>
        I put effort, quality,<br>and soul into my work<br>because it reflects who I am.<br>I want to be proud of the work I put<br>out into the world, and I want to<br>make sure my clients are<br>happy with what<br>they get.</p>
    </div>
  </div>

  <div class="about project-tile" value="about"
  style="transition: opacity 0.4s ease 0.15s;" id="reel">
    <div class="plate"></div>
    <div class="tile-content " style="background-image: url('/images/meta/reel-thumb.jpg')">
      <label for="reel-toggle"></label>
    </div>
    <div class="project-name">Reel</div>
  </div>

  <div class="about project-tile" value="about"
  style="transition: opacity 0.4s ease 0.20s;" id="kev">
    <div class="tile-content" style="background-image: url('/images/meta/kev-01.jpg')">
    </div>
  </div>

  <div class="about project-tile" value="about"
  style="transition: opacity 0.4s ease 0.25s;">
    <div class="plate"></div>
    <div class="tile-content ">
      <p><br><br><br>
        I've been using<br>a computer since I was<br>about two years old, so I am very<br>fluent in working with them in almost<br>every way. I'm experienced in<br>project setup and in the<br>delivery of final<br>results.</p>
    </div>
  </div>

  <div class="about project-tile" value="about"
  style="transition: opacity 0.4s ease 0.30s;">
    <div class="plate"></div>
    <div class="tile-content">
      <p><br><br>
        I know file<br>formats, frames per<br>second/drop frame, video<br>&amp; audio codecs, resolution, <br>aspect ratio, bit depth, and every-<br>thing else to make sure you get<br>exactly what you need<br>the way you need<br>it.</p>
    </div>
  </div>

  <div class="about project-tile" value="about"
  style="transition: opacity 0.4s ease 0.35s;" id="email" >
    <div class="plate"></div>
    <div class="tile-content">
      <a href="mailto:kevin@bluevisual.tv" target="_blank">kevin@bluevisual.tv</a>
      <svg width="50" height="50" viewBox="0 0 24 24"><path d="M0 1v16.981h4v5.019l7-5.019h13v-16.981h-24zm13 12h-8v-1h8v1zm6-3h-14v-1h14v1zm0-3h-14v-1h14v1z"/></svg>
      <span>I typically reply within two<br>business days</span>
    </div>
  </div>

  <div class="about project-tile" value="about"
  style="transition: opacity 0.4s ease 0.40s;">
    <div class="tile-content" style="transform: rotate(0);">
      {{ partial "social-array" }}
    </div>
  </div>

</div>
