<div id="bio">

  <div class="tile rotate">
    <div class="shape left unrotate"></div>
    <div class="shape right unrotate"></div>
    <div class="tile-content unrotate">
      <p><br><br><br>
        Nice to meet you!
        <br><b>I'm Kevin.</b><br><br>I grew up near Los Angeles and lived there most of my life until I moved to the Metro-Detroit area for three years before coming back.</p>
      </div>
      <div class="plate"></div>
  </div>

  <div class="tile rotate">
    <div class="shape left unrotate"></div>
    <div class="shape right unrotate"></div>
    <div class="tile-content unrotate">
      <p><br><br><br>
        When I'm not working on my own personal projects, I like making music, doing photography, programming, playing (and making!) video games, and taking long walks on the beach.</p>
    </div>
    <div class="plate"></div>
  </div>

  <div class="tile rotate">
    <div class="tile-content unrotate" style="background-image: url('/images/meta/kev-01.jpg')">
    </div>
    <div class="plate"></div>
  </div>

  <div class="tile rotate">
    <div class="shape left unrotate"></div>
    <div class="shape right unrotate"></div>
    <div class="tile-content unrotate">
      <p><br><br><br>
        I put effort, quality, and soul into my work because it reflects who I am. I want to be proud of the work I put out into the world, and I want to make sure my clients are happy with what they get.</p>
    </div>
    <div class="plate"></div>
  </div>

  <div class="tile rotate">
    <div class="shape left unrotate"></div>
    <div class="shape right unrotate"></div>
    <div class="tile-content unrotate">
      <p><br><br><br>
        I've been using a computer since I was two years old, so I am very fluent in working with them in almost every way. I'm experienced in project setup and delivery of final results.</p>
    </div>
    <div class="plate"></div>
  </div>

  <div class="tile rotate">
    <div class="shape left unrotate"></div>
    <div class="shape right unrotate"></div>
    <div class="tile-content unrotate">
      <p><br><br>
        I know file formats, frames per second/drop frame, video/audio codecs, resolution, aspect ratio, bit depth, and everything else to make sure you get exactly what you need the way you need it.</p>
    </div>
    <div class="plate"></div>
  </div>

  <div class="tile rotate">
    <div class="tile-content">
      {{ partial "social-array" }}
    </div>
    <div class="plate"></div>
  </div>

  <div class="tile rotate" id="email">
    <div class="tile-content unrotate">
      <a href="mailto:kevin@bluevisual.tv" target="_blank">kevin@bluevisual.tv</a>
      <span style="color:#606060; font-size: 0.8em;">I typically reply within two business days</span>
      <svg width="72" height="72" viewBox="0 0 24 24"><path d="M0 1v16.981h4v5.019l7-5.019h13v-16.981h-24zm13 12h-8v-1h8v1zm6-3h-14v-1h14v1zm0-3h-14v-1h14v1z"/></svg>
    </div>
    <div class="plate"></div>
  </div>

  <div class="tile rotate">
    <div class="shape left unrotate"></div>
    <div class="shape right unrotate"></div>
    <div class="tile-content unrotate">
      <p><br><br><br><br><br>
        You can get in touch with me directly, or you can find me on the web at some of these popular content-hubs!</p>
        <p>-KW</p>
    </div>
    <div class="plate"></div>
  </div>

</div>
