<h2>Canvases</h2>

<p>I turn some of my photography and digital art into canvases, which you can find on <a href="http://www.ebay.com/sch/profbetis/m.html" target="_blank">Ebay</a> and <a href="https://www.etsy.com/shop/KevinWeberCanvases" target="_blank">Etsy</a>.</p>

<div id="canvases">
  <a href="http://www.ebay.com/itm/Canvas-Wall-Art-Medium-0913-/272421962102?hash=item3f6d9d4176:g:QwMAAOSwgZ1XuQNY" target="_blank">
    <img src="/images/kev-canvas-01.jpg">
  </a>

  <a href="https://www.etsy.com/listing/221064576/canvas-9762?ref=shop_home_active_6" target="_blank">
    <img src="/images/kev-canvas-02.jpg">
  </a>

  <a href="http://www.ebay.com/itm/Canvas-Wall-Art-Medium-R000-/272446405015?hash=item3f6f123997:g:yFsAAOSwIgNXuvsa" target="_blank">
    <img src="/images/kev-canvas-03.jpg">
  </a>

  <a href="http://www.ebay.com/itm/Canvas-Wall-Art-Medium-9929-/272421962101?hash=item3f6d9d4175:g:ngoAAOSwU-pXuSPb" target="_blank">
    <img src="/images/kev-canvas-04.jpg">
  </a>

  <a href="http://www.ebay.com/itm/Canvas-Wall-Art-Medium-5538-/272446405021?hash=item3f6f12399d:g:eMAAAOSw65FXp-S5" target="_blank">
    <img src="/images/kev-canvas-05.jpg">
  </a>
</div>
