<br>
<a href="mailto:kevin@bluevisual.tv" target="_blank" id="email">kevin@bluevisual.tv</a>
<br>
<i style ="color:#505050;">(Please allow up to 48 hours for initial response)</i>

<br>
<br>
<br>
You can also find me across the web:<br>
<a href="http://www.linkedin.com/pub/kevin-weber/44/31/754">LinkedIn</a><br>
<a href="https://www.upwork.com/freelancers/~01f662fcd0cdbf9330">Upwork</a><br>
<a href="https://www.facebook.com/pages/Blue-Visual/543672385652866">Facebook</a><br>
<a href="http://blog.bluevisual.tv">Tumblr</a><br>
<a href="http://be.net/kevinweber">Behance</a>
