<br>
<a href="mailto:kevin@bluevisual.tv" target="_blank" id="email">kevin@bluevisual.tv</a>
<br>
<i style ="color:#606060;">(I typically reply within two business days)</i>
<div style="font-size: 2em; margin-top: 0.5em; color: #808080;">— &amp; —</div>
<div id="social-array">
  <table>
    <tr>
      <td><a href="http://www.linkedin.com/pub/kevin-weber/44/31/754" target="_blank">
        <img src="images/social-icon-linkedin.png">
        LinkedIn
      </a></td>
      <td></td>
      <td><a href="https://www.facebook.com/pages/Blue-Visual/543672385652866" target="_blank">
        <img src="images/social-icon-facebook.png">
        Facebook
      </a></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="https://www.upwork.com/freelancers/~01f662fcd0cdbf9330" target="_blank">
        <img src="images/social-icon-upwork.png">
        Upwork
      </a></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://vimeo.com/bluevisual" target="_blank">
        <img src="images/social-icon-vimeo.png">
        Vimeo
      </a></td>
      <td></td>
      <td><a href="http://blog.bluevisual.tv" target="_blank">
        <img src="images/social-icon-tumblr.png">
        Tumblr
      </a></td>
    </tr>
  </table>
</div>
