<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- METADATA -->
    <meta property="og:site_name" content="Blue Visual" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta name="robots" content="noodp"/>

    {{ if .IsHome }}
      <title>Blue Visual</title>
      <meta property="og:title" content="Blue Visual" />
      <meta name="description" content="Los Angeles based 3D visualization."/>
      <meta property="og:description" content="Los Angeles based 3D visualization." />
      <link rel="canonical" href="http://bluevisual.tv/" />
      <meta property="og:url" content="http://bluevisual.tv/" />
      <meta property="og:image" content="{{ .Site.BaseURL }}/images/meta/bv-logo-02-tile.png" />

    {{ else if eq .Title "reel" }}

        <title>Blue Visual Reel</title>
        <meta property="og:title" content="Blue Visual Reel" />
        <meta name="description" content="A showcase of my latest projects"/>
        <meta property="og:description" content="A showcase of my latest projects" />
        <link rel="canonical" href="{{ .Permalink }}" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:image" content="{{ .Site.BaseURL }}/images/meta/bv-logo-02-tile.png" />

    {{ else if .IsPage }}

      <title>Blue Visual - {{ .Title }}</title>
      <meta property="og:title" content="Blue Visual - {{ .Title }}" />
      <meta name="description" content="{{ truncate 137 `...` .Summary }}"/>
      <meta property="og:description" content="{{ truncate 137 `...` .Summary }}" />
      <link rel="canonical" href="{{ .Permalink }}" />
      <meta property="og:url" content="{{ .Permalink }}" />
      <meta property="og:image" content="{{ .Site.BaseURL }}/images/{{ .BaseFileName }}-thumb.jpg" />

    {{ else }}
      <title>Blue Visual - {{ .Title }} Projects</title>
      <meta property="og:title" content="Blue Visual - {{ .Title }} Projects" />
      <meta name="description" content="A list of projects that involved {{ .Title | lower }}."/>
      <meta property="og:description" content="A list of projects that involved {{ .Title | lower }}." />
      <link rel="canonical" href="{{ .Permalink }}" />
      <meta property="og:url" content="{{ .Permalink }}" />
      <meta property="og:image" content="{{ .Site.BaseURL }}/images/meta/bv-logo-02-tile.png" />

    {{ end }}
    <!--  -->
  </head>

  <body>
