<div id="nav" class="project-group">

  <div class="project-tile" id="kev">
    <div class="tile-content" style="background-image: url('/images/kevin-weber.jpg')">
    </div>
    <div class="tile-content" style="background-image: url('/images/kevin-weber-alt.jpg')">
    </div>
  </div>

  <div class="project-tile" style="outline: none !important;">
    <div class="tile-content" style="transform: rotate(0);">
      {{ partial "social-array" }}
    </div>
  </div>

  {{ partial "link-tile" (dict "title" "Reel" "url" "/reel") }}

</div>
