{{ $gray := (mul .lerp 100) }}
{{ $contrast := (sub 100 (mul .lerp 80.0)) }}
{{ $brightness := (sub 120 (mul .lerp 80.0)) }}

{{ $contrast := cond (gt $contrast 100) 100 $contrast }}
{{ $brightness := cond (gt $brightness 100) 100 $brightness }}

<div class="project-tile">
  <a href="{{ .proj.Permalink }}">
    <div class="project-thumb"
    style="background-image: url('/images/{{ .proj.BaseFileName }}-thumb.jpg'); filter: grayscale({{$gray}}%) contrast({{$contrast}}%) brightness({{$brightness}}%);">
    </div>
  </a>

  {{ if .proj.Params.active }}
  <div class="project-active">
    Active!
  </div>
  {{ end }}

  <div class="project-name">
    <a href="{{ .proj.Permalink }}">{{ .proj.Title }}</a>

    <div class="project-tags">
      {{- range $index, $el := first 3 .proj.Params.tags -}}
        {{- if gt $index 0 -}},&nbsp;{{- end -}}
        <a href="/tags/{{ . | urlize }}">{{ . }}</a>
      {{- end -}}
    </div>

  </div>
</div>
