<div class="project-group" value="{{ .group }}">

{{ partial "project-group-shifters" .group }}

{{ .meta.Scratch.Set "offset" 0.0 }}

{{ if eq .group "all" }}

  {{ range .meta.Data.Pages }}
    {{ partial "project-tile" (dict "proj" . "group" $.group "delay" ($.meta.Scratch.Get "offset")) }}
    {{ $.meta.Scratch.Add "offset" 0.05 }}
  {{ end }}

{{ else }}

  {{ range .meta.Data.Pages }}
    {{ if in .Params.tags $.group }}
      {{ partial "project-tile" (dict "proj" . "group" $.group "delay" ($.meta.Scratch.Get "offset")) }}
      {{ $.meta.Scratch.Add "offset" 0.05 }}
    {{ end }}
  {{ end }}

{{ end }}

</div>
