{{ $month := (dateFormat "Jan" .Date) }}
{{ $year := (dateFormat "2006" .Date) }}

<div class="header">
  <div class="thumbnail">
    {{ with .File }}
    {{ $thumb_url := delimit (slice "/project-media/" .BaseFileName "/" .BaseFileName "-thumb.jpg") "" }}
    <div class="image" style="background-image: url('{{$thumb_url}}');" ></div>
    {{end}}
  </div>

  <div class="info">
    <div class="title">{{ .Title }}</div>
    <div class="subtitle">
      {{ if isset .Params "client" }}
        for {{ .Params.client }} —
      {{ end }}

      {{ if .Params.active }}
        <span style="color: #c0c0c0">Currently Active!</span>
      {{ else }}
        {{ if ne $year "0001" }}
          {{ $month }} {{ $year }}
        {{ end }}
      {{end}}
    </div>
    <div class="tools">
      <span class="title">Tools: </span>
        {{- range $index, $el := .Params.tools -}}
        {{- if gt $index 0 -}},&nbsp;{{- end -}}
          <span class="tool">{{ . }}</span>
        {{- end -}}
    </div>
    <div class="tags">
      <span class="title">Tags: </span>
      {{- range $index, $el := .Params.tags -}}
        <a class="tag" href="/tags/{{ . | urlize }}"><div>{{ . }}</div></a>
      {{- end -}}
    </div>
  </div>
</div>
