<div class="project-group" value="{{ .group }}">

{{ partial "project-group-shifters" .group }}

{{ $.Scratch.Set "offset" 0.1 }}
{{ $.Scratch.Set "string" "string" }}
{{ $string := $.Scratch.Get "string" }}

{{ range .meta.Data.Pages }}
{{ if in .Params.tags $.group }}
  {{ $offset := $.Scratch.Get "offset" }}
  <div class="project-tile" value="{{ $.group }}"
  style="transition: opacity 0.5s ease;">
    <a href="{{ .Permalink }}">
      <div class="project-thumb"
      style="background-image: url('/images/{{ .BaseFileName }}-thumb.jpg');">
      </div>
    </a>
    <div class="project-name">
      <a href="{{ .Permalink }}">{{ .Title }}</a>

      <div class="project-tags">
        {{- range $index, $el := .Params.tags -}}
          {{- if gt $index 0 -}},&nbsp;{{- end -}}
          <a href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{- end -}}
      </div>
    </div>
  </div>

{{ .Scratch.Add "offset" 0.05 }}

{{ end }}
{{ end }}

{{ partial "project-group-extras" .group }}
</div>
