{{ $month := (dateFormat "Jan" .Date) }}
{{ $year := (dateFormat "2006" .Date) }}

<div class="header">
  <a href="{{ .Permalink }}">
    <div class="image" style="background-image: url('/images/{{ .Section }}/{{ .BaseFileName }}-thumb.jpg');" ></div>
  </a>

  <div class="info">
    <div class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
    <div class="subtitle">
      {{ if isset .Params "client" }}for {{ .Params.client }} — {{ end }}
      {{ if ne $year "0001" }}{{ $month }} {{ $year }}{{end}}
    </div>
    <div class="tags">
      <div>Tags</div>
      {{- range $index, $el := .Params.tags -}}
        <a href="/tags/{{ . | urlize }}"><div>{{ . }}</div></a>
      {{- end -}}
    </div>
    <div class="tools">
      <div>Tools</div>
        {{- range $index, $el := .Params.tools -}}
          <div>{{ . }}</div>
        {{- end -}}
    </div>
  </div>
</div>
