{{ $gray := (mul .lerp 100) }}
{{ $contrast := (sub 100 (mul .lerp 80.0)) }}
{{ $brightness := (sub 120 (mul .lerp 80.0)) }}

{{ $contrast := cond (gt $contrast 100) 100 $contrast }}
{{ $brightness := cond (gt $brightness 100) 100 $brightness }}

<div class="project-tile">
  <a href="{{ .proj.Permalink }}">
    {{ with .proj.File }}
    {{ $thumb_url := delimit (slice "/project-media/" .BaseFileName "/" .BaseFileName "-thumb.jpg") "" }}
    <div class="project-thumb"
    style="background-image: url('{{$thumb_url}}'); filter: grayscale({{$gray}}%) contrast({{$contrast}}%) brightness({{$brightness}}%);">
    </div>
    {{end}}
  </a>

  {{ if .proj.Params.active }}
  <div class="project-active">
    Active!
  </div>
  {{ end }}

  <div class="project-name">
    <a href="{{ .proj.Permalink }}">{{ .proj.Title }}</a>

    <div class="project-tags">
      {{ with .proj.Params.tags }}
      {{- range $index, $el := first 3 . -}}
        {{- if gt $index 0 -}},&nbsp;{{- end -}}
        <a href="/tags/{{ . | urlize }}">{{ . }}</a>
      {{- end -}}
      {{- end -}}
    </div>

  </div>
</div>
