<!-- proj, start, end, startPerc, responsibilities -->
{{ $offsetPx := apply .points "mul" "." 13 }}
{{ $totalPx := sub (index (last 1 $offsetPx) 0) (index (first 1 $offsetPx) 0) }}

<div class="entry" style="top: {{ add 75 (index $offsetPx 0) }}px;">

  <div class="length" style="height: {{ $totalPx }}px; transition: all {{ mul $totalPx 0.00125 }}s linear;"></div>
  <div class="line"></div>

  {{ range $index, $el := .points }}
  <div class="point" style="top: {{ (sub (index $offsetPx $index) (index $offsetPx 0)) }}px; transition-delay: {{ mul (sub (index $offsetPx $index) (index $offsetPx 0)) 0.00125 }}s;"></div>
  {{ end }}

  <div class="info">
    <div class="title">
    {{ if .path | default false }}
      <a href="../{{ .path }}">{{ .proj }}</a>
    {{ else }}
      {{ .proj }}
    {{ end }}
    </div>

    <div class="resp">{{ .responsibilities }}</div>
  </div>

  <div class="time">{{ .start }}</div>
</div>
