<div id="reel-breakdown">
  <h2>Shot Breakdown</h2>
  <table><thead><tr> <th>Time</th> <th>Project</th> <th>Responsibilities</th> </tr></thead>
  <tr> <td>0:00-0:48</td> <td><a href="../Trips">Trips</a>, <a href="../Hix">Hix</a>, <a href="../Whirl">Whirl</a>, <a href="../Dust">Dust</a>, <a href="../Polygatures">Polygatures</a>, Miscellaneous</td> <td>All</td></tr>
  <tr> <td>0:48-0:51</td> <td><a href="../Cyber-Vice">Cyber Vice</a></td> <td>Kinect RGBD footage processing and manipulation, visual effects, camera animation</td> </tr>
  <tr> <td>0:51-1:00</td> <td><a href="../Cyber-Vice">Cyber Vice</a></td> <td>Modeling, scene matching, compositing, rotoscoping</td> </tr>
  <tr> <td>1:00-1:07</td> <td>Ignite, <a href="../Onyx-Cinema-Logo">Onyx Cinema</a>, <a href="../Alumiq-Logo">Alumiq</a></td> <td>Modeling, lighting, animation, texturing, rendering</td> </tr>
  <tr> <td>1:07-1:10</td> <td><a href="../Me-Her">Me + Her</a></td> <td>Modeling, texturing, lighting, environment assembly, rendering</td> </tr>
  <tr> <td>1:10-1:13</td> <td>Independent</td> <td>All</td> </tr>
  <tr> <td>1:13-1:18</td> <td><a href="../Landscape-Flythroughs">Bell Landscape Flythroughs</a></td> <td>Camera animation, lighting, model adjustments, texturing, environment assembly, rendering</td> </tr>
  <tr> <td>1:18-1:38</td> <td>N/A</td> <td>Self-explanatory</td> </tr>
  <tr> <td>1:38-1:40</td> <td><a href="../Cyber-Vice">Cyber Vice</a></td> <td>Screen compositing</td> </tr>
  <tr> <td>1:40-1:46</td> <td><a href="../Cyber-Vice">Cyber Vice</a></td> <td>Kinect RGBD footage processing and manipulation, visual effects, camera animation</td> </tr>
  <tr> <td>1:46-1:49</td> <td><a href="../Honeyglue">Honeyglue</a></td> <td>Modeling, animation, lighting, volumetrics, rendering, compositing</td> </tr>
  <tr> <td>1:49-1:54</td> <td><a href="../Honeyglue">Honeyglue</a></td> <td>Rotoscoping, motion tracking, interface design and animation</td> </tr>
  </table>
</div>
