<div id="testimonials" class="project-group" value="{{ .groupID }}">
  {{ partial "project-group-shifters" "testimonials" }}

  <div class="item" value="{{ .groupID }}"
  style="transition: opacity 0.4s ease 0.00s;">
    <div class="portrait left">
      <div class="image-pre">
        <div class="image" style="background-image: url('/images/meta/uvmap.png')"></div>
      </div>
    </div>
    <div class="quote">
      <div class="info">
        <span class="name">Kevin Weber</span>
        <span class="title"> - Owner of Blue Visual - </span>
        <span class="website"><a href="http://bluevisual.tv">Website</a></span>
      </div>
      <div class="content">
        Kev was profesh AF LOL. For real he da man. Weird sometimes and stays up real late (I'll see him send me stuff at like 4AM (like KEVVV DO YOU EVEN GO TO BED? LMAO) but like it's there in the morning so I can't complain. Always gets me the DANKEST looking renders, even though I'm on a budget. Defo hire this fool, otherwise, YOU the fool. Kev mans fr.
      </div>
    </div>
  </div>

  <div class="item" value="{{ .groupID }}"
  style="transition: opacity 0.4s ease 0.10s;">
    <div class="portrait right">
      <div class="image-pre">
        <div class="image" style="background-image: url('/images/meta/uvmap.png')"></div>
      </div>
    </div>
    <div class="quote">
      <div class="info">
        <span class="name">Kevin Weber</span>
        <span class="title"> - Owner of Blue Visual - </span>
        <span class="website"><a href="http://bluevisual.tv">Website</a></span>
      </div>
      <div class="content">
        Kev was profesh AF LOL. For real he da man. Weird sometimes and stays up real late (I'll see him send me stuff at like 4AM (like KEVVV DO YOU EVEN GO TO BED? LMAO) but like it's there in the morning so I can't complain. Always gets me the DANKEST looking renders, even though I'm on a budget. Defo hire this fool, otherwise, YOU the fool. Kev mans fr.
      </div>
    </div>
  </div>

</div>
