<div id="testimonials" class="project-group" value="{{ .groupID }}">
  {{ partial "project-group-shifters" "testimonials" }}

  <div class="item" value="{{ .groupID }}"
  style="transition: opacity 0.4s ease 0.00s;">
    <div class="portrait">
      <div class="image"></div>
      <div class="info">
        <div class="name">Kev</div>
        <div class="title">Owner of Blue Visual</div>
        <div class="website"><a href="http://bluevisual.tv">Website</a></div>
      </div>
    </div>
    <div class="quote">
        Kev da best, ja feel?
    </div>
  </div>

</div>
