{{ partial "header-meta" . }}

{{ partial "header" . }}

<input type="checkbox" name="reel-toggle" id="reel-toggle" />
<div class="lightbox">
  <label for="reel-toggle">
    <iframe id="reel-video" src="//player.vimeo.com/video/201389906?title=0&byline=0&portrait=0&color=00ccff" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </label>
</div>

<div id="projects">
  <form>

  <!-- Radio Buttons -->
  <input type="radio" name="section" value="about" id="ps-about" checked>
  <input type="radio" name="section" value="animation" id="ps-animation">
  <input type="radio" name="section" value="vfx" id="ps-vfx">
  <input type="radio" name="section" value="product" id="ps-product">
  <input type="radio" name="section" value="art" id="ps-art">
  <input type="radio" name="section" value="all" id="ps-all">

  <!-- Input Tiles -->
  <div class="project-group" value="selectors">

    <div class="project-tile selector" value="about">
      <label for="ps-about">
        <div>About</div>
      </label>
    </div>

    <div class="project-tile selector" value="animation">
      <label for="ps-animation">
        <div>Animation</div>
      </label>
    </div>

    <div class="project-tile selector" value="vfx">
      <label for="ps-vfx">
        <div>VFX</div>
      </label>
    </div>

    <div class="project-tile selector" value="product">
      <label for="ps-product">
        <div>Product</div>
      </label>
    </div>

    <div class="project-tile selector" value="art">
      <label for="ps-art">
        <div>Art</div>
      </label>
    </div>

    <div class="project-tile selector" value="all">
      <label for="ps-all">
        <div>All</div>
      </label>
    </div>

  </div>

  <!-- Project Tile Groups -->
  {{ partial "about-group" }}

  {{ partial "project-group" (dict "meta" . "group" "animation") }}
  {{ partial "project-group" (dict "meta" . "group" "product") }}
  {{ partial "project-group" (dict "meta" . "group" "vfx") }}
  {{ partial "project-group" (dict "meta" . "group" "art") }}
  {{ partial "project-group-all" (dict "meta" . "group" "all") }}
  <!-- -->

  </form>
</div>

{{ partial "footer" . }}

{{ partial "footer-meta" . }}
