{{ partial "header-meta" . }}

{{ partial "header" . }}

<div id="projects">
  <!-- Project Tile Groups -->

    {{ partial "intro-group" }}

    <div class="project-group">

    {{ partial "project-group-shifters"}}

    {{ range .Site.RegularPages }}
      {{ $path := split .Path "/" }}
      {{ $isArchived := eq (index $path (sub (len $path) 2)) "_archive" }}
      {{ if and (ne .Title "reel") (not $isArchived) }}
        {{ partial "project-tile" (dict "proj" . "delay" 0 "index" 0 "lerp" 0) }}
      {{ end }}
    {{ end }}

    </div>
</div>

{{ partial "footer" . }}

{{ partial "footer-meta" . }}
