{{- $id := .Get 0 -}}
<div class="project-image" oncontextmenu="return false;">
  <label for="lightbox-toggle{{ $id }}">
    {{- if lt $id 10 -}}
    <img src="/project-media/{{ .Page.BaseFileName }}/{{ .Page.BaseFileName }}-0{{ $id }}.jpg">
    {{- else -}}
    <img src="/project-media/{{ .Page.BaseFileName }}/{{ .Page.BaseFileName }}-{{ $id }}.jpg">
    {{- end -}}
  </label>
  {{- if gt (len .Params) 1 -}}<div class="caption">{{- .Get 1 -}}</div>{{- end -}}
</div>
<input type="checkbox" name="lightbox-toggle{{ $id }}" id="lightbox-toggle{{ $id }}" />
<div class="lightbox" oncontextmenu="return false;">
  <label for="lightbox-toggle{{ $id }}">
    {{- if lt $id 10 -}}
    <img src="/project-media/{{ .Page.BaseFileName }}/{{ .Page.BaseFileName }}-0{{ $id }}.jpg">
    {{- else -}}
    <img src="/project-media/{{ .Page.BaseFileName }}/{{ .Page.BaseFileName }}-{{ $id }}.jpg">
    {{- end -}}
    {{- if gt (len .Params) 1 -}}
    <div class="caption">{{- .Get 1 -}}</div>
    {{- end -}}
  </label>
</div>
