<div class="project-image">
  <label for="lightbox-toggle{{ .Get 0 }}">
    {{ if (.Get 0) lt 9 }}
    <img src="/images/{{ .Page.Section }}/{{ .Page.BaseFileName }}-0{{ .Get 0 }}.jpg">
    {{ else }}
    <img src="/images/{{ .Page.Section }}/{{ .Page.BaseFileName }}-{{ .Get 0 }}.jpg">
    {{ end }}
  </label>
  {{ if isset .Get 1 }}<div class="caption">{{ .Get 1 }}</div>{{end}}
</div>

<input type="checkbox" name="lightbox-toggle{{ .Get 0 }}" id="lightbox-toggle{{ .Get 0 }}" />

<div class="lightbox">
  <label for="lightbox-toggle{{ .Get 0 }}">
    {{ if (.Get 0) lt 9 }}
    <img src="/images/{{ .Page.Section }}/{{ .Page.BaseFileName }}-0{{ .Get 0 }}.jpg">
    {{ else }}
    <img src="/images/{{ .Page.Section }}/{{ .Page.BaseFileName }}-{{ .Get 0 }}.jpg">
    {{ end }}
  </label>
  {{ if isset .Get 1 }}<div class="caption">{{ .Get 1 }}</div>{{end}}
</div>
