{{- $id := .Get 0 -}}
{{ $caption := .Get 1 }}
{{ $has_caption := gt (len .Params) 1 }}

{{ with .Page.File }}

{{ $src_url := "" }}
{{ $digits := $id }}
{{ if lt $id 10 }} {{ $digits = delimit (slice "0" $id) "" }} {{ end }}
{{ $src_url = delimit (slice "/project-media/" .BaseFileName "/" .BaseFileName "-video-" $digits ".mp4") "" }}

<div class="project-image">
  <video width="960" height="540" autoplay loop muted controls>
    <source src="{{ $src_url }}" />
  </video>

  {{- if $has_caption -}}
    <div class="caption">{{- $caption -}}</div>
  {{- end -}}
</div>

{{ end }}
