{{ partial "header-meta" . }}
{{ partial "header" . }}

<div class="project">

  {{ partial "return-top" . }}

  <div class="content">

    <h1>Show Reel</h1><br>

    <div id="reel-container">
      <iframe src="//player.vimeo.com/video/261432212?title=0&byline=0&portrait=0&color=00ccff" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>

    <br>
    <h2>Which project was that?</h2>
    <br><br>
    <div id="projects">
      <div class="project-group">

        {{ $reelProjs := (slice "work/weareboats.md" "work/valentine-dayz.md" "work/aprayerforthedamned.md" "work/kubota-earth.md" "personal/paint-tests.md" "personal/form.md" "personal/cube-shuffle.md") }}

        {{ range $reelProjs }}
          {{ $page := $.Site.GetPage "page" . }}
          {{ partial "project-tile" (dict "proj" $page "lerp" 0.0) }}
        {{ end }}

        {{ partial "link-tile" (dict "title" "Return" "url" "/" "delay" 0.0) }}

      </div>
    </div>

  </div>

  <!-- {{ partial "return-bottom" . }} -->

</div>

{{ partial "footer-meta" . }}
