{{ partial "header-meta" . }}
{{ partial "header" . }}

<div class="project">

  {{ partial "return-top" . }}

  <div class="content">

    <h1>Reel</h1><br>

    <div id="reel-container">
      <iframe src="//player.vimeo.com/video/819408150?title=0&byline=0&portrait=0&color=00ccff" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>

    <br>
    <h2>Which project was that?</h2>
    <br><br>
    <div id="projects">
      <div class="project-group">
        {{ range where .Site.Pages "Params.reel" "!=" nil }}
          {{ partial "project-tile" (dict "proj" . "lerp" 0.0) }}
        {{ end }}
        {{ partial "link-tile" (dict "title" "Return" "url" "/" "delay" 0.0) }}
      </div>
    </div>

  </div>

  <!-- {{ partial "return-bottom" . }} -->

</div>

{{ partial "footer-meta" . }}
